    :root {
        /* Primary Colours */
        --very-dark-blue    : hsl(243, 87%, 12%);
        --desaturated-blue  : hsl(238, 22%, 44%);
        /* Accent Colours */
        --bright-blue       : hsl(224, 93%, 58%);
        --moderate-cyan     : hsl(170, 45%, 43%);
        /* Neutral Colours */
        --light-grayish-blue: hsl(240, 75%, 98%);
        --light-gray        : hsl(0, 0%, 75%);

        /* Base font-size */
        font-size: 16px;
    }

    /* Initialization */
    *,
    ::backdrop,
    ::after {
        box-sizing : border-box;
        font-family: "Open Sans", sans-serif;
        margin     : 0;
        padding    : 0;
    }

    /* General Styles */
    body {
        min-height: 100vh;
        min-width : 100vw;
        overflow-x: hidden;
        position  : relative;
    }

    h2,
    h3,
    nav a {
        color      : var(--very-dark-blue);
        font-family: "Raleway", sans-serif;
    }

    a {
        color          : var(--very-dark-blue);
        font-weight    : 500;
        text-decoration: none;
    }

    a:hover {
        color     : var(--bright-blue);
        transition: all ease-in-out .3s;
    }

    /* HEADINGS */
    h2 {
        font-size: 2.45em;
    }

    /* Text */
    p {
        color    : var(--very-dark-blue);
        font-size: 1.1em;
    }

    input {
        border       : 1px solid var(--light-gray);
        border-radius: .25em;
        height       : 3.5em;
        outline      : 0;
        padding      : 0 1.5em;
    }

    input::placeholder {
        color         : lightgray;
        letter-spacing: .06em;
    }

    button {
        background-color: var(--bright-blue);
        border          : 0;
        border-radius   : .25em;
        color           : white;
        font-family     : "Raleway", sans-serif;
        font-size       : .85em;
        font-weight     : 500;
        height          : fit-content;
        letter-spacing  : .05em;
        padding         : 1.1em 4.5em;
        text-wrap       : nowrap;
        width           : max-content;
    }

    button:hover {
        cursor    : pointer;
        opacity   : 80%;
        transition: all ease-in-out .2s;
    }

    section,
    header,
    footer {
        align-items    : center;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        width          : 100%;
    }

    .container {
        align-items    : center;
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
        width          : 89%;
    }

    /* HEADER Section */
    .header-section {
        height: 11em;
    }

    .header-section .logo {
        width: 10em;
    }

    .nav-menu {
        align-items   : center;
        display       : flex;
        flex-direction: row;
        gap           : 3.575em;
    }

    /* HERO Section */
    .hero-section {
        height: 32.65em;
    }

    .hero-section .container {
        flex-direction: row-reverse;
    }

    .hero-section img {
        width: 50%;
    }

    .hero-section .column {
        margin-top: -2.5em;
        width     : 47%;
    }

    .hero-section h2 {
        letter-spacing: .01em;
        line-height   : 1.5em;
    }

    .hero-section p {
        letter-spacing: .01em;
        line-height   : 1.35em;
        margin-bottom : .5em;
        margin-top    : 1em;
        width         : 95%;
    }

    .hero-section .get-started-form {
        align-items    : center;
        display        : flex;
        flex-direction : row;
        gap            : 1em;
        height         : fit-content;
        justify-content: space-between;
        margin-top     : 1.5em;
        width          : 33.75em;
    }

    .hero-section .get-started-form input {
        width: 100%;
    }

    /* OVERVIEW Section */
    .overview-section {
        background-image   : url(./images/bg-curve-desktop.svg);
        background-position: bottom;
        background-repeat  : no-repeat;
        background-size    : 326vw 49em;
        height             : 49em;
        margin-top         : 8.75em;
    }

    .overview-section .container {
        flex-direction: row-reverse;
        gap           : 5em;
    }

    .overview-section .container>img {
        margin-top: 1.75em;
        width     : 42.35%;
    }

    .overview-section .container .column {
        margin-top: 4.3em;
        width     : 57.65%;
    }

    .overview-section .container .column h2 {
        letter-spacing: 0.01725em;
    }

    .overview-section .container .column>p {
        font-size  : 1em;
        line-height: 1.5em;
        width      : 80%;
    }

    .overview-section .container .column>p:nth-child(2) {
        margin: 2.5em 0 1.05em 0;
    }

    .see-how-works-link {
        align-items   : center;
        border-bottom : 1px solid var(--moderate-cyan);
        color         : var(--moderate-cyan);
        display       : inline-flex;
        gap           : .3em;
        margin-bottom : 1.25em;
        margin-top    : 1em;
        padding-bottom: .15em;
    }

    .testimonial {
        background-color: white;
        border-radius   : .5em;
        box-shadow      : rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        display         : flex;
        flex-direction  : column;
        height          : 13.5em;
        justify-content : space-between;
        margin-top      : 1.5em;
        padding         : 2em;
        padding-top     : 1.8em;
        width           : 22.3em;
    }

    .testimonial>img {
        height     : 1em;
        margin-left: .1em;
        width      : 1em;
    }

    .testimonial>p {
        font-size     : .9em;
        letter-spacing: -0.01em;
        line-height   : 1.6em;
        margin-top    : .5em;
        width         : 100%;
    }

    .testimonial .author {
        align-items   : center;
        display       : flex;
        flex-direction: row;
        gap           : .5em;
        margin-left   : .1em;
        margin-top    : .97em;
    }

    .testimonial .author img {
        border-radius: 50%;
        height       : 2em;
        width        : 2em;
    }

    .testimonial .author .author-details p.name {
        font-size     : .7em;
        font-weight   : 700;
        letter-spacing: 0.03em;
        line-height   : 1.575em;
    }

    .testimonial .author .author-details p.designation {
        font-size: .545em;
    }

    /* GET STARTED Section */

    .get-started-section {
        background-color: var(--desaturated-blue);
        height          : 20.1em;
    }

    .get-started-section h3 {
        color     : white;
        font-size : 2em;
        margin-top: .55em;
    }

    .get-started-section p {
        color         : white;
        font-size     : 1em;
        letter-spacing: 0.03em;
        line-height   : 1.5em;
        margin-top    : 1.3em;
        width         : 70%;
    }

    .get-started-section .column:nth-child(2) {
        display       : flex;
        flex-direction: column;
        gap           : 1em;
        margin-right  : 2.5em;
        margin-top    : .75em;
        width         : 60%;
    }

    .get-started-section .column:nth-child(2)>* {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .get-started-section .column:nth-child(2) input#email {
        max-width: 35em;
    }

    .get-started-section .column:nth-child(2) button {
        padding: 1.2em 2.15em;
    }


    /* FOOTER Section */
    .footer-section {
        background-color: var(--very-dark-blue);
        color           : white;
        height          : 24.5em;
    }

    .footer-section .container {
        flex-direction: column;
        gap           : 1.25em;
        margin-top    : 2.25em;
    }

    .footer-section .logo {
        filter: brightness(-300%) invert(100%);
        /*To turn the whole logo into white*/
        width : 11em;
    }

    .footer-section .row {
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
        width          : 100%;
    }

    .footer-section .row p,
    .footer-section .row a {
        color      : white;
        font-weight: 400;
    }

    .footer-section a:hover {
        color     : var(--bright-blue);
        transition: all ease-in-out .3s;
    }

    .footer-section .row .column:not(:last-child) {
        display       : flex;
        flex-direction: column;
        gap           : 1em;
    }

    .footer-section .row:nth-child(2) .column:nth-child(2) {
        margin-left: 1.75em;
    }

    .footer-section .phone,
    .footer-section .email {
        align-items   : center;
        display       : flex;
        flex-direction: row;
        gap           : 1.25em;
        letter-spacing: -.85px;
    }

    .footer-section .social-links {
        align-items   : center;
        display       : flex;
        flex-direction: row;
        gap           : .75em;
        height        : fit-content;
        padding-right : 11.5em;
    }

    .footer-section .social-links a {
        align-items    : center;
        border         : 1px solid white;
        border-radius  : 50%;
        display        : flex;
        font-size      : 1.1em;
        height         : 1.8em;
        justify-content: center;
        width          : 1.8em;
    }

    .footer-section .social-links a:hover {
        border-color: var(--bright-blue);
    }

    .attribution {
        bottom    : 2em;
        color     : white;
        font-size : .9em;
        left      : 50%;
        position  : absolute;
        text-align: center;
        transform : translateX(-50%);
    }

    .attribution a {
        color: var(--bright-blue);
    }

    .attribution a:hover {
        border-bottom: 1px solid var(--bright-blue);
        margin-bottom: -1px;
    }

    /* RESPONSIVENESS */

    /* - Larger Screens - Television, Widescreen Monitors 📺🖥️ */
    @media (min-width: 1920px) {
        .container {
            width: calc(100% - 35%);
        }
    }

    @media (min-width: 1620px) {
        .hero-section {
            height    : auto;
            max-height: 40em;
            min-height: 35em;
        }

        .hero-section img {
            max-width: 53.375em;
        }
    }