    :root {
        /* Primary Colours */
        --very-dark-blue    : hsl(243, 87%, 12%);
        --desaturated-blue  : hsl(238, 22%, 44%);
        /* Accent Colours */
        --bright-blue       : hsl(224, 93%, 58%);
        --moderate-cyan     : hsl(170, 45%, 43%);
        /* Neutral Colours */
        --light-grayish-blue: hsl(240, 75%, 98%);
        --light-gray        : hsl(0, 0%, 75%);

        /* Base font-size */
        font-size: 16px;
    }

    /* Initialization */
    *,
    ::backdrop,
    ::after {
        box-sizing : border-box;
        font-family: "Open Sans", sans-serif;
        margin     : 0;
        padding    : 0;
    }

    /* General Styles */
    body {
        min-height: 100vh;
        min-width : 100vw;
    }

    h2,
    h3,
    nav a {
        font-family: "Raleway", sans-serif;
    }

    .attribution {
        font-size : .9em;
        text-align: center;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }